<a href="https://colab.research.google.com/github/gulshan-archive/AI-DeepLearning/blob/master/pandas-guide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Series : It is 1 dimensional
**Supported DataTypes:** Integer, Float, string, python object <br>
**Supported Data Inputs:** 1darray, dict, scalar, list

In [2]:
import numpy as np
import pandas as pd
pd.__version__

'1.1.5'

# Creating Series
## Series using list

In [46]:
s = pd.Series(data=list('abcdef'))
print(s)

s1 = pd.Series(data=list('abcdef'), index=[5,6,7,8,9,10])
print(s1)

s2 = pd.Series(data=['a','b','c','d','e','f'], index=[5,6,7,8,9,10])
print(s2)

print(s1+s2)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object
5     a
6     b
7     c
8     d
9     e
10    f
dtype: object
5     a
6     b
7     c
8     d
9     e
10    f
dtype: object
5     aa
6     bb
7     cc
8     dd
9     ee
10    ff
dtype: object

## Series using 1d array

In [30]:
arr = np.array(['abc','def','ghi','jkl'])
s = pd.Series(data=arr)
print(s)

print('\n')
# Access Ist element
print(s[1])

0    abc
1    def
2    ghi
3    jkl
dtype: object


def

## Series using dictionary

In [47]:
# create a dictionary 
dict = {'A' : 10, 'B' : 20, 'C' : 30} 
s = pd.Series(data=dict)
print(s)
  
# create a series with index
series = pd.Series(dict, index=['B', 'C', 'A']) 
print(series)

# Accessing Series elements. Series can be accessed using index name as well using index position
print(series[0])
print(series['A'])
print(series[0:2])

print(series.loc['A'])   # Access data by lookup
print(series.iloc[0])    # Access data by position

# create a series with index. Notice the data changed to float beause NAN could be any number
s1 = pd.Series(dict, index=['A', 'B', 'C', 'D', 'E']) 
print(s1)

# Vector operation
print(s+series)

A    10
B    20
C    30
dtype: int64
B    20
C    30
A    10
dtype: int64
20
10
B    20
C    30
dtype: int64
10
20
A    10.0
B    20.0
C    30.0
D     NaN
E     NaN
dtype: float64
A    20
B    40
C    60
dtype: int64

## Series using scalar

In [22]:
s = pd.Series(data=1, index=['a','b','c'])
print(s)

a    1
b    1
c    1
dtype: int64

# Dataframes: It is a 2d labeled data structure with columns of same or different data Types
**Supported Data Types:** integer, string, float, python object <br>
**Supported Data Inputs:** nd array, dict, list, Series, DataFrame

In [52]:
dict = {'name':['name1','name2', 'name3'], 'age':[20,30,40]}
df = pd.DataFrame(dict)
print(df)

    name  age
0  name1   20
1  name2   30
2  name3   40